body {
 font-family: 'Poppins', sans-serif !important;
 text-align: center;
    color: hsl(229, 6%, 66%);
}

h1, h2 {
    color: hsl(234, 12%, 34%);
}

.main-container {
    padding: 70px;
    margin: 100px;
}

.grid-container {
    padding: 20px ;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    grid-gap: 20px;
}

.main-header {
    line-height: 1.5;
}

.top {
    width: 35.7rem;
    margin: 0 auto;
padding: 20px;
}


/* Card style */
.card {
    font-size: 15px;
    height: 18rem;
    padding: 36px;
    
    text-align: left;
    position: relative;
    border-radius: 10px;
    border-top-width: 6px;
    
    
}

.card-title {
    font-size: 20px;
    font-weight: 400;
}

.card-body {
    padding: 0;
    line-height: 1.5;
    position: relative;
}

.card-image {
    position: absolute;
    right: 30px;
    bottom: 30px
}

.about-team {
    border-top-color: hsl(0, 78%, 62%);
}

.about-supervisor {
    border-top-color: hsl(180, 62%, 55%);
    top: 150px
    
}

.about-karma {
    border-top-color: hsl(34, 97%, 64%);
    grid-column: 2;
    grid-row: 2;

}

.about-calc {
    border-top-color: hsl(212, 86%, 64%);
  top: 150px;
   
}


/* Bottom Container */

.bottom-container {
    padding-top: 80px
}

/* Responsive optimization */

@media (max-width: 768px) {
   .main-container {
       padding: 0;
       margin: 0;
   }

   .main-header {
       padding-top: 100px;
    width: 100%;
   }
   
    .top {
       width: 90%;
       padding-top: 30px;
   }
   

    .grid-container {
        display: block;
        margin: 20px;
    }

    .card {
        margin: 10px;
        top: 0;
    }
}

